@keyframes wphc-spinner-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* :not(:required) hides this rule from IE9 and below */
.wphc-spinner-loader:not(:required) {
	animation: wphc-spinner-loader 1500ms infinite linear;
	border-radius: 0.5em;
	box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	display: inline-block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin: 1.5em;
	overflow: hidden;
	text-indent: 100%;
}

.wphc-alert-box {
	color:#555;
	border-radius:10px;
	padding:10px 36px;
	margin:10px;
	border: 1px solid black;
}

.wphc-good-box {
	border-color: green;
	background-color: #81F79F;
}
.wphc-okay-box {
	border-color: #f2c779;
	background-color: #fff8c4;
}
.wphc-bad-box {
	border-color: red;
	background-color: #F5A9A9;
}
